/* General styles */
/* course styles */
html, body {
    height: 100%;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* กำหนดให้ main ยืดขยายเต็มพื้นที่ที่เหลือ */
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 15px;
}

/* Header styles */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

/* Course Detail Page Styles */
.course-detail-container {
    margin-top: 20px;
}

.course-detail-video {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.course-progress {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-bar {
    background-color: #6c63ff;
}

.chapter-list {
    margin-top: 20px;
}

.chapter-item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chapter-title {
    margin-bottom: 10px;
}

.list-group-item {
    background: none;
    border: none;
    padding: 5px 0;
}

.list-group-item a {
    color: #6c63ff;
    text-decoration: none;
}

.list-group-item a:hover {
    text-decoration: underline;
}

/* No Video and No Chapters Styles */
.no-video {
    color: #999;
}

.no-chapters {
    text-align: center;
    color: #999;
    margin-top: 20px;
}

/* Button styles */
.btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    text-decoration: none;
}

.btn-primary {
    background-color: #6c63ff;
    border-color: #6c63ff;
    color: white;
}

.btn-primary:hover {
    background-color: #5548c8;
    border-color: #5548c8;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.custom-btn {
    margin: 5px;
}


/* Responsive styles */
@media (max-width: 768px) {
    .course-detail-video,
    .course-progress {
        margin-bottom: 20px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .custom-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}